//Project variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../vars";

html {
    scroll-behavior: smooth;
}

.container
{
    min-width: 390px;
}

.section 
{
    margin-top: 30px;
}

.title 
{
    color: $blue;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.button
{
    padding: 10px 20px;
    background-color: $yellow;
    color: $blue;
    border-radius: 5px;
    text-align: center;
    display: block;
}

a.button
{
    text-decoration: none;
}

a.button:hover
{
    color: $blue;
}

.footer
{
    background-color: $blue;
    color: $white;
    min-width: 390px;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";