//Project variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../vars";

.home-icon
{
    width: 110px;
    margin: 0 auto;
    display: block;
}

/*** Hero ***/
.hero 
{
    color: var(--white);
    width: 100%;
    background-color: var(--blue);
    min-width: 390px;
}

.hero__container 
{
    height: 100%;
}

.hero__row
{
    height: 100%;
}

.hero__title
{
    font-size: 2.5rem;
    text-transform: uppercase;
    border-left: 2.5px solid var(--yellow);
    padding-left: 15px;
}

.hero__subtitle
{
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.hero__text-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hero__pic-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 40px;
}

.hero__pic 
{
    width: 250px;
    fill: #f3f3f31a;
    max-width: 500px;
    position: absolute;
    opacity: 0;
}

.hero__cta
{
    width: 150px;
}

/** About **/
.about
{
    background-color: transparent;
}

.about__text-container
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.about__pic-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 250px;
}

.about__pic
{
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}

/** Services **/
.services
{
    background-color: var(--white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.services__title
{
    text-align: center;
    font-size: 1.23rem;
}

.services__text
{
    text-align: center;
    font-size: 0.9rem;
}

/** Social proof **/
.testimonials__cta
{
    margin-top: 30px;
    width: 160px;
}

.testimonials__text
{
    margin-left: 15px;
    margin-right: 15px;
}

.testimonials__name
{
    font-size: 0.9rem;
}

/** Contact **/
.contact
{
    background-color: var(--white);
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact__mail
{
    width: 250px;
}

/** Animations **/
@keyframes showItem {
    from {opacity: 0;}
    to {opacity: 1;}
}

.animate {
    animation-name: showItem;
    animation-duration: 0.7s;
    animation-fill-mode: none;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";