//Project variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../vars";

h2
{
    margin-top: 50px;
}

h3
{
    margin-top: 40px;
}

.post__title-container
{
    background-color: var(--blue);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 35px;
    min-width: 390px;
}

.post__title
{
    font-size: 2.5rem;
    color: var(--white);
}

// Sidebar
.sidebar
{
    background-color: var(--white);
}

.sidebar__title
{
    color: var(--blue);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    border-left: 3px solid var(--yellow);
    padding-left: 10px;   
}

.sidebar__link
{
    text-decoration: none;
    color: #000;
}

// Breadcrumbs
.post__breadcrumbs
{
    font-size: 14px;
    color: var(--gray);
}

.post__breadcrumbs-link
{
    text-decoration: none;
    color: var(--gray);
}

.post__breadcrumbs-link:hover
{
    color: var(--gray);
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";